.hero-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/assets/icons/hero_bg.jpg");
  background-size: cover;
  background-position: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  text-align: center;

  .primary {
    font-size: 96px;
  }

  .secondary {
    font-size: 40px;
  }

  .tertiary {
    font-size: 24px;
    padding-top: 20px;
  }
}
