table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-name {
  width: 15%;
}

.mat-column-text {
  width: 20%;
}

.mat-column-actions {
  width: 10%;
  text-align: center;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-header-cell {
  font-weight: bold;
}

.no-data-message {
  text-align: center;
  padding: 1rem;
}
