<form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
  <mat-card appearance="outlined" class="sign-up-form-container">
    <mat-card-header>
      <mat-card-title><suo-home-button></suo-home-button></mat-card-title>
      <mat-card-title class="title">Sign up</mat-card-title>
    </mat-card-header>
    <mat-card-content class="wrapper">
      <mat-form-field appearance="outline" class="field">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        @if (signUpForm.get('username')?.hasError('required')) {
        <mat-error>{{ requiredErrorMessage }}</mat-error
        >}
      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        @if (signUpForm.get('email')?.hasError('required')) {
        <mat-error>{{ requiredErrorMessage }}</mat-error
        >}
      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hide() ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        @if (signUpForm.get('password')?.hasError('required')) {
        <mat-error>{{ requiredErrorMessage }}</mat-error
        >}
      </mat-form-field>

      <div class="actions">
        <button mat-flat-button type="submit" class="field">Sign up</button>
        <span class="link"
          ><a [routerLink]="['/auth/login']">Already have an account?</a>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</form>
