<form (ngSubmit)="onSubmit()" [formGroup]="form">
  @for (question of questions; track question) {
  <suo-dynamic-form-question
    [question]="question"
    [form]="form"
  ></suo-dynamic-form-question>
  }
  <div class="action-buttons">
    <button mat-raised-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button type="submit" [disabled]="!form.valid">
      Submit
    </button>
  </div>
</form>
@if (payLoad) {
<div class="form-row">
  <strong>Submitted the following values</strong><br />{{ payLoad }}
</div>
}
