<mat-card>
  <mat-card-title>Add a new programming project</mat-card-title>
  <mat-card-content>
  <form [formGroup]="recordsForm" (ngSubmit)="onSubmit()" class="form-container">

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Used Technologies</mat-label>
      <input matInput formControlName="used_technologies">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Importance</mat-label>
      <input matInput formControlName="importance" type="number" min="0" max="10">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Deadline</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="deadline">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Extra info</mat-label>
      <textarea matInput formControlName="extra"></textarea>
    </mat-form-field>

    <button mat-raised-button (click)="onCancel()">
      Cancel
    </button>

    <button mat-raised-button type="submit">
      Submit
    </button>

  </form>

  </mat-card-content>
</mat-card>