/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "app/styles/colors/_dusty-teal" as theme-color;

html {
  @include mat.theme(
    (
      color: (
        primary: theme-color.$primary-palette,
        tertiary: theme-color.$tertiary-palette,
      ),
      typography: Inter,
      density: 0,
    )
  );
}

body {
  margin: 0;
  font-family: Inter;
}

/* Icon button clases */

.primary-icon-button {
  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-primary),
    )
  );
}

.accent-icon-button {
  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-tertiary),
    )
  );
}

.warn-icon-button {
  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-error),
    )
  );
}
